<h1>PagesController</h1>
<!-- <p>Find me in app/views/pages_controller/ask.html.erb</p> -->

<form action="/answer">
  <label for="question">Call me Your Awesome Coach 😎</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
